/* # Frontpage Style
---------------------------------------------------------------------------------------------------- */

.home-section{
	.site-header > .wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin:0 auto;
		max-width:100%;
	}
	.cls-1{
		// fill:tint($color-primary, 90%);
	}
	.cls-2{
		// fill:tint($color-active, 80%);
	}
}
.home-section .site-inner{
	margin-top:0px;
	padding-top:0;
}

.home-section.full-width-content .entry.content,
.home-section .site-inner .content .entry {
	margin-bottom:0;
}

/* # Front page top image
--------------------------------------------------- */

.home_top_image{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	background-attachment: scroll;
    background-color: #000000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	padding: $margin-default+px;
	h1, h2{
		z-index: 150;
		text-align: center;
	}
	h1{
		@include font-values($g_font-home-title);
	}
	h2{
		@include font-values($g_font-home-sub-title);
	}
	.icon-arrow-down7 {
		width: 40px;
		height:40px;
		fill: $color-white;
	}
	.bounce {
		-moz-animation: bounce 2s;
		-webkit-animation: bounce 2s;
		animation: bounce 2s;
		-moz-animation-iteration-count: 3;
		-webkit-animation-iteration-count: 3;
		animation-iteration-count: 3;
	}
	.image_section{
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 80vh;
		// background: linear-gradient(145deg, rgba(98, 136, 141, 0.75) 0%,rgba(0, 11, 18,0) 75%);
		z-index: 100;
		&::after{
			position:absolute;
			bottom:-1px;
			content:'';
			display:block;
			background-color:$color-white;
			height:15vh;
			width:100%;
			-webkit-clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
		  }
	}
}

@keyframes bounce {
	0%,20%,50%,80%,100% {
	 -moz-transform:translateY(0);
	 -ms-transform:translateY(0);
	 -webkit-transform:translateY(0);
	 transform:translateY(0)
	}
	40% {
	 -moz-transform:translateY(-20px);
	 -ms-transform:translateY(-20px);
	 -webkit-transform:translateY(-20px);
	 transform:translateY(-20px)
	}
	60% {
	 -moz-transform:translateY(-10px);
	 -ms-transform:translateY(-10px);
	 -webkit-transform:translateY(-10px);
	 transform:translateY(-10px)
	}
}

/* # Grids
--------------------------------------------------- */

.home .content .gridcontainer.White:nth-child(2){
	padding-top:120px;
}

.home.full-width-content .site-inner .content .featured_widget .entry{
	width: 100%;
	max-width: 100%;
}
.featured_widget{
	.entry{
		position: relative;
		.entry-header{
			position: absolute;
			left: 20px;
			bottom: 0px;
		}
	}
}

.featured_widget{
	.widget-wrap{
		display: grid;
		grid-template-columns:repeat(1, 1fr);
	}
}